html, body {
  height: 100%;
  width: 100%;
  
}

#main_menu{
 margin-top:10px;
}
#main_menu ul li{
    color: #4e4e4e;
    margin-right: 28px;
    font-size: 20px;
    font-weight: bold;
}
#welcome{
  margin-top:70px;
  
}
.social_media_sec{
  margin-top: 20px;
  background-color: #f3f3f3;
}
.social_media_sec h2{padding: 10px;}